.vertical-progress-bar {
  height: 300px;
  width: 100px;
  background: #28272A;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  .value {
    height: 200px;
    width: 100px;
    background: #F7D167;
    border-radius: 0 0 18px 18px;
    position: absolute;
    bottom: 0;
  }

  img.icon {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
}

.card-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.cards {
  display: flex;
  width: 20%;
  flex-direction: column;
  overflow: hidden;
  border-radius: .5em;
  background: white;
  margin: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  h3 {
    color: #2E3C40;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
    padding: 1em;
    margin: 0 0 0.142857143em;
    height: 2.5em;
    text-align: center;
    transition: color .45s ease, border .45s ease;
  }
}

.app-light-toggle {
  zoom: 1.5;
  margin-top: 2em;
}
