<div #myDiv (mousemove)="mouseMoved($event)" (mouseleave)="isClicked = false"
     (mousedown)="mouseDown($event)" (mouseup)="mouseUp()"
     class="vertical-progress-bar">
  <div #progressValue class="value" [style.height.%]="heightInPercent"></div>

  <img class="icon" src="assets/light-bulb.svg" height="64px" draggable="false" />
</div>

<app-light-toggle [state]="isLightOn" (stateChanged)="onStateChanged($event)"
style="height: 50px"></app-light-toggle>
<!--<app-switch-button></app-switch-button>-->

<router-outlet></router-outlet>
