<div #myDiv (mousemove)="mouseMoved($event)" (mouseleave)="isClicked = false"
     (mousedown)="mouseDown($event)" (mouseup)="mouseUp()"
     class="vertical-progress-bar">
  <div #progressValue class="value" [style.height.%]="heightInPercent"></div>

  <img class="icon" src="assets/light-bulb.svg" height="64px" draggable="false" />
</div>

<div style="height: 80px; width: 150px; margin-top: 3em">
  <app-light-toggle [state]="isLightOn" (stateChanged)="onStateChanged($event)"></app-light-toggle>
</div>

<!--<app-switch-button></app-switch-button>-->

<router-outlet></router-outlet>
