.vertical-progress-bar {
  height: 300px;
  width: 100px;
  background: #28272A;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  .value {
    height: 200px;
    width: 100px;
    background: #F7D167;
    border-radius: 0 0 18px 18px;
    position: absolute;
    bottom: 0;
  }

  img.icon {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
}
